* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head {
    font-size: 16px;
    color: #cccccc;
}
body {
    background: white;
    background-image: url('../unplash-fotos/photo-1626186245092-5a7b1ba890a8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #dfdfdf;
    font-family: 'Encode Sans SC';
}
.container {
    width: 90%;
    margin: 4% auto;
}
.headline {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(105, 105, 199),rgb(255, 141, 141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle {
    font-size: 0.9rem;
    margin: 10px 0;
}
main {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    margin-top: 40px;
    width: 100%;
    display: flex;
}
.main .left, .main .mid, .main .right {
    height: 50vh;
}
.countryInput {
    width: 150px;
    height: 2rem;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
.countryInput:focus {
    width: 220px;
    outline: none;
}
#select {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
